<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title>Bible App</title>
    <script type="module" crossorigin src="{% static 'assets/index-8ad2f1b8.js' %}"></script>
    <link rel="stylesheet" href="{% static 'assets/index-16560849.css' %}">
  </head>
  <body>
    <main>
      <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img class="bi me-2" src="{% static 'logo.png' %}" width="40"  />
            <span class="fs-4">Jesus Said</span>
          </a>
    
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="#" class="nav-link text-white" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-white">Praises</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-white">Gospel</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-white">About</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-white">
              <span class="material-symbols-outlined">Search</span>
            </a></li>
          </ul>
        </header>
      </div>
      <div class="container mb-5">
        <p>&nbsp;</p>
      </div>
      <div class="container">
        <div id="app"></div>
      </div>
    </main>
    
  </body>
</html>
